h2{
    color:darkblue;
    grid-area: title;
}
h1{
    text-decoration: underline;
    color: darkblue;
    text-shadow: 2px 2px 4px #0000008e;
    font-size: xx-large;
}
p{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}