@import './footer.css';
@import './header.css';
@import './font.css';

.container{
    display: grid;
    width:auto;
    grid-template-rows: 100px 1600px 80px;
    /* grid-template-columns: 300px; */
    height: auto;
}
.post-container{
    display: grid;
    height: auto;
    grid-template-columns: 300px;
    grid-template-rows: 100px 320px 950px 100px;
    justify-content: center;
    align-items: center;
    grid-gap:5px;
    margin:50px;
    grid-template-areas:
    "hd"
    "sb"
    "main"
    "ft"
}
.post-header{
    grid-area: hd;

}

.post-body{
    grid-area: main;

}
.post-sidebar{
    grid-area: sb;
}
.post-footer{
    grid-area: ft;

}
.author-img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100px;
}

.post-footer i{
    font-size: 20px;
    margin: 5px;
    color: black;
}
h3, h4{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .container{
        display: grid;
        /* width:100%; */
        /* grid-template-columns: ; */
        grid-template-rows: 100px 700px 85px;
    }
    .post-container{
        display: grid;
        grid-template-columns: 800px 500px;
        grid-template-rows: 80px 400px 100px;
        justify-content: center;
        align-items: center;
        grid-gap:30px;
        margin:50px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "main main main main sb sb sb sb"
        "ft ft ft ft ft ft ft ft"
    }
    .author-img{
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
    }
    .post-footer i{
        font-size: 40px;
        margin: 10px;
        color: black;
    }
}
/* Large Screens */
@media (min-width:901px) {
    .container{
        display: grid;
        /* width:100%; */
        /* grid-template-columns: ; */
        grid-template-rows: 100px 900px 85px;
    }
    .post-container{
        display: grid;
        height: auto;
        grid-template-columns: 30% 30%;
        grid-template-rows: 80px 600px 100px;
        justify-content: center;
        align-items: center;
        /* grid-gap:30px; */
        margin:50px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "main main main main main main sb sb"
        "ft ft ft ft ft ft ft ft"
    }
    .author-img{
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
    }

}